<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Instructor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
</head>
<body style="text-align: center">
<form th:method="patch" th:action="@{/instructors/saveUpdateInstructor}" th:object="${instructor}"
      style="text-align:center; margin-top:200px; font-size: 30px;">

    <input type="hidden" name="id" th:field="*{id}">
    <input type="text" name="firstName" th:field="*{firstName}" placeholder="Firstname">
    <input type="text" name="lastName" th:field="*{lastName}" placeholder="Lastname">
    <br><br>
    <input type="text" name="email" th:field="*{email}" placeholder="Email">
    <br><br>
    <select th:field="${instructor.courseId}">
        <option th:each="course:${coursesList}"
                th:value="${course.getId()}"
                th:text="${course.getCourseName()}"></option>
    </select>

    <input type="submit" value="Update">
</form>
</body>
</html>